footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  background: var(--footer-background-gradient);
}
.footer__nav {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  justify-content: space-evenly;
  padding: 10px;
}
.footer__nav > a {
  text-decoration: none;
  color: black;
  font-size: 100%;
  padding: 5px;
}
.footer__nav > a > img {
  max-height: 50px;
  padding: 15px;
}
.footer__active {
  border: white 2px solid;
  border-radius: 10px;
}
