* {
  box-sizing: border-box;
}
body {
  font-size: 112.5%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  top: 0;
  height: 100%;
  position: relative;
}

h1 {
  padding: 10px;
  text-align: center;
  margin: 0px;
}
h2,
label {
  padding: 20px 0 0 15px;
  margin: 0;
}
p {
  padding: 15px;
  margin: 0;
}
main {
  margin-top: 10px;
  margin-bottom: 120px;
}
@media (min-width: 500px) {
  .card,
  form {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 600px) {
  .card,
  form {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (min-width: 700px) {
  .card,
  form {
    margin-left: 25%;
    margin-right: 25%;
  }
}
