.card {
  background-color: var(--card-background);
  position: relative;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 5px 12px 45px -15px rgba(0, 0, 0, 0.46);
  margin-bottom: 50px;
}
.card__bookmark {
  padding: 10px;
  position: absolute;
  scale: 2;
  top: 25px;
  right: 25px;
}
button,
.card__button {
  all: unset;
  padding: 20px;
  margin: 15px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  font-size: 1em;

  &:hover {
    background-color: white;
  }
}
.card__tags {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
  overflow: scroll;
}
.card__tags > li {
  background-color: white;
  width: fit-content;
  padding: 5px;
  margin: 5px;
}
